* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header__title {
  padding: 2rem 0;
  font-size: 2.5em;
  text-align: center;
}

.navbar {
  background-color: #333;
}
.navbar__links {
  display: flex;
  list-style-type: none;
}
.navbar__link {
  padding: 1.2rem;
  color: #FFF;
}
.navbar__link:hover {
  color: #000;
  background-color: #DDD;
}

.page-body {
  background-color: #F1F1F1;
  min-height: 72vh;
}
.page-content {
  padding: 1.2rem 0;
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 5fr 2fr;
}

.notes {
  padding: 1.2rem;
  background-color: #FFF;
}
.skills {
  margin-left: 1.2rem;
}

.cards {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.cards__card {
  padding: 1.2rem;
  background-color: #FFF;
}

.footer {
  padding: 1.2rem;
  text-align: center;
  background-color: #DDD;
}

#boton {
  background-color: #333;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 12px;
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  display: inline-block;
  position: relative;
  left: 20%;
  cursor: pointer;  
}

#boton:hover {
  background-color: #ddd;
  color: black;
}

#cabecera {
  color: #f2f2f2;
  text-align: center;
  font-weight: normal;
}

input { 
  border-radius: 5px;
  border: 1px solid black;
  background-color: #EBEDEF;
}

textarea {
  border-radius: 5px;
  border: 1px solid black;
  background-color: #EBEDEF;
  width: 350px;
  height: 250px; 
}